body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-layout {
  background-color: #ffffff !important;
}

.ant-layout-header {
  background-color: #24292e !important;
}
.ant-layout-content {
  background-color: #ffffff !important;
}

.ant-layout-footer {
  background-color: #ffffff !important;
}
